%h1.privacy_title Privacy Policy
%p We don't share your email address without your permission. When you subscribe, will send you updates other important campaigns by email but you can unsubscribe at any time.