.share_button
  .btn.btn-primary.share.like_red_tall_no_f{ class: facebook_button[:button_class], id: who }
  .share.fb_toggle
    No Facebook?
.share_link.hide
  .share.margin-bottom-10
    Share this link:
  %input.share_url{ :value => @referring_url }
  .share.fb_toggle
    Want Facebook?


