.facebook-share-widget
  .name-search
    = image_tag "facebook_share_widget/facebook-logo.png"
    %input.search-text{ placeholder: "Search" }
  .message-pane
    .message-wrapper
      %textarea.message{ placeholder: "Message to your friend" }
  %ul
    %li
      = image_tag 'facebook_share_widget/loader.gif'
