.facebook_friend_widget
  %h3 Spread the word by inviting up to 25 friends
  
  #suggested.hide
    %h4 Suggested Friends
    %ul

  #other.hide
    %h4 Other Friends
    %ul

  - content_for :javascripts do
    $('a.close').click(function(){$('#facebookFriendsModal').hide();});
