.ie_alternatives
  %h1
    %span.black
      We're sorry,
    %span.grey
      but we do not currently support creating a petition using Internet Explorer.
  %h3
    If you download one of these options, you'll be able to do so!

  .option
    .chromeframe
    .text
      .title
        = link_to('Google Chrome Frame', 'http://www.google.com/chromeframe?prefersystemlevel=true')
      .description
        Chrome Frame is a free plug-in that will let you use this site from within Internet Explorer.
  .option
    .chrome
    .text
      .title
        = link_to('Google Chrome', 'http://www.google.com/chromeframe?prefersystemlevel=true')
      .description
        Chrome is a free web browser from Google that's fast and secure.
  .option
    .firefox
    .text
      .title
        = link_to('Mozilla Firefox', 'http://www.google.com/chromeframe?prefersystemlevel=true')
      .description
        Firefox is a free browser from the nonprofit Mozilla Foundation.
