.additional_title
  - label_name = 'Short Summary'
  = f.text_field :short_summary, :class => "string with_icon", :maxlength => 255
  .btn.btn-primary{onclick: "remove_fields(this)"}
    %i.icon-trash.icon-white= link_to_remove_fields "remove", f