- if privacy_text == "tooltip"
  .centered
    By signing, you accept our
    %span.toggle_tooltip>= link_to(' privacy policy', '')
    \.
  .privacy_tooltip
    We don't share your email address without your permission. We will send you updates on this and other important campaigns by email, but you can unsubscribe at any time.

- if privacy_text == "short"
  We don't share your email address without your permission.  We will send you emails about other campaigns, but you can unsubscribe at any time.

- if privacy_text == "original"
  We don't share your email address without your permission. We will send you updates on this and other important campaigns by email, but you can unsubscribe at any time.

- if privacy_text == "long"
  We will never share your email address without your permission.  We will send you updates on this petition and information on other important campaigns by email, but you may unsubscribe at any time.
