- thanks_message = spin! "toggle thanks messages", :share, ["thanks_so_much", "youre_amazing", "profit", "great_success"]

.giantbox
  .big_text
    That was amazing,
  .message
    but we still need more people to make a <b>huge impact</b>.  Help us spread the word:
  .fb_button_big.fb_popup_btn

  #thanks{class: [thanks_message]}
    .btn.btn-primary.fb_popup_btn
      .fb_icon
      .text Share on facebook

