.progress_image
  = image_tag("progress_bar.png")
  %br
  You're almost there!
  %br
  Only one thing left to do...
.message
  This button is the most effective tool
  %br
  to make change happen.
= render :partial => "button_link_toggle", locals: { who: who }
