.thanks
  Thanks for signing!
.sharing-message
  Spread the word, share with your friends!
.arrow
.tweet
  %a.twitter-share-button{'data-url' => @tweetable_url} Tweet

.btn.btn-primary{ class: facebook_button[:button_class] }
  .fb_icon
  .text #{facebook_button[:button_text]}
