.thanks
  Thanks for signing!
.sharing-message
  Spread the word, share with your friends!
- if !browser.mobile? && !browser.ie? && !browser.android? && (spin! "nudgenudge", :share)
  .jumping_arrow
- else
  .arrow
.tweet
  %a.twitter-share-button{'data-url' => @tweetable_url} Tweet
- if fb_action_like_popup == "facebook_share"
  .fb_share.btn.btn-primary Share on Facebook
  .fb_share_message
- elsif fb_action_like_popup == "facebook_popup"
  .btn.btn-primary.fb_popup_btn
    .fb_icon
    .text Share on facebook
- elsif fb_action_like_popup == "facebook_like"
  = fb_like petition_url(params[:id]), @current_member_hash, 'button_centered', true

.facebook-share-widget
  .name-search
    = image_tag "facebook_share_widget/facebook-logo.png"
    %input.search-text{ placeholder: "Search" }
  .message-pane
    .message-wrapper
      %textarea.message{ placeholder: "Message to your friend" }
  %ul
    %li
      = image_tag 'facebook_share_widget/loader.gif'
