.thanks
  Thanks for signing!
.sharing-message
  Spread the word, share with your friends!
.arrow
.tweet
  %a.twitter-share-button{'data-url' => @tweetable_url} Tweet
- if facebook_sharing_option == "facebook_share"
  .fb_share.btn.btn-primary Share on Facebook
  .fb_share_message
- elsif facebook_sharing_option == "facebook_popup"
  .btn.btn-primary.fb_popup_btn
    .fb_icon
    .text Share on facebook
- elsif facebook_sharing_option == "facebook_like"
  = fb_like petition_url(params[:id]), @current_member_hash, 'button_centered', true
- elsif facebook_sharing_option == "facebook_widget"
  .btn.btn-primary.fb_widget_btn
    .fb_icon
    .text Share with your friends
-elsif facebook_sharing_option == "facebook_request"
  .btn.btn-primary.fb_request_btn
    .fb_icon
    .text Send request to friends