<h1>Petitions dashboard</h1>

Since <%= link_to_self_with_param :since, {:all => nil, :hour => 1.hour.ago, :day => 1.day.ago, :week => 1.week.ago, :month => 1.month.ago, :year => 1.year.ago }, " | " %>

<table 
	id="petitions" 
	class="bordered-table table-striped dataTable" 
	data-source="<%= admin_petitions_url(format: "json", since: params[:since]) %>">

  <thead>
    <tr>
      <th>Title</th>
      <th>Hits</th>
      <th>Signatures</th>
      <th>Conversion</th>
      <th>New members</th>
      <th>Virality</th>
      <th>Created</th>
    </tr>
  </thead>

  <tbody>
  </tbody>

</table>