%h1 Petitions dashboard

%p
  Since #{link_to_self_with_param :since, {'today' => Date.today,'yesterday' => 1.day.ago, 'a week ago' => 1.week.ago, 'a month ago' => 1.month.ago, 'a year ago' => 1.year.ago, 'forever' => nil}, " | "}

<button style="float: right" class="btn btn-success" onClick="$('table').dataTable().fnDraw()">Reload</button>

%table#petitions.bordered-table.table-striped.dataTable{"data-source" => admin_petitions_url(format: "json", since: params[:since])}
  %thead
    %tr
      %th Title
      %th Hits
      %th Sigs
      %th Conv
      %th Emails
      %th Sigs
      %th Conv
      %th New
      %th Viral
      %th Created
  %tbody

%p
  Redis space used:
  = float_to_percentage @redis_used
  - if @redis_used > 0.85
    %b{style: "color: red"}
      SPACE RUNNING LOW!!
