.page_content
  %h1 Petitions Dashboard

  %p
    - labels  = 'day', 'week', 'month', 'year'
    - options = Hash[labels.zip(labels)]
    Activity in the last #{link_to_self_with_param :time_span, options, " | "}

  <button style="float: right" class="btn btn-success" onClick="$('table').dataTable().fnDraw()">Reload</button>

  %table#petitions.bordered-table.table-striped.dataTable{"data-source" => admin_petitions_url(format: "json", time_span: params[:time_span])}
    %thead
      %tr
        %th Title
        %th Sent
        %th Open
        %th Click
        %th Sign
        %th Like
        %th <acronym title="Hits Per Sent email">HPS</acronym>
        %th <acronym title="New members Per Sent email">NPS</acronym>
        %th Unsub
        %th Created
    %tbody