%div.legend
  %span.muted
    %i.icon-bar-chart
    legend:

  %span
    %i.icon-line{style: "color: blue;"}
    current

  %span
    %i.icon-line{style: "color: #dddddd;"}
    prior

  %span
    %i.icon-line{style: "color: green;"}
    target

  %span
    %i.icon-line{style:"color: red;"}
    danger
