<% flash.each do |type, message| %>

    <div class="alert <%= twitterized_type(type) %>">
    <a href="#" class="close" data-dismiss="alert">x</a>
    <p>
      <%= message %>
    </p>


    </div>

<% end %>