%div.row
  %div.span12
    %div.page-header
      %h1 Export Unsubscribes

      = render partial: "admin/members/navigation", locals: { active: :unsubscribes }
      = render partial: "admin/unsubscribes/subnav", locals: { active: :download }

      %div.clearfix

%div.row
  %div.span12
    = form_tag(admin_unsubscribes_path(format: 'csv'), :method => 'get') do
      %p
        %label{:for => 'from'} From:
        %input#from{:type => 'date', :name=>'from'}
      %p
        %label{:for => 'from'} To:
        %input#to{:type => 'date', :name=>'to'}
      %p
        = submit_tag 'Download CSV', class: "btn"



