.row
  .span2
    = render partial: 'navigation'
  .span10
    %h2 Unsubscribes

    %h4
      Upload Report

    %table.table.table-striped.table-condensed.sortable.stats{data: { stats: stats_admin_unsubscribe_path(params[:id]) } }
      %thead
        %tr
          %th Stat
          %th Count
      %tbody
        %tr
          %td
            Lines Uploaded
          %td#total

        %tr
          %td
            Lines Processed
          %td#seen

        %tr
          %td
            Members Found
          %td#members

        %tr
          %td
            Unusbscribes Created
          %td#unsubscribes