%div.row
  %div.span12
    %div.page-header
      %h1 Unsubscribes

      = render partial: "admin/members/navigation", locals: { active: :unsubscribes }
      = render partial: "admin/unsubscribes/subnav", locals: { active: :upload }

      %div.clearfix


%div.row
  %div.span12
    %h4 Upload Report

    %table.table.table-striped.table-condensed.sortable.stats{data: { stats: stats_admin_unsubscribe_path(params[:id]) } }
      %thead
        %tr
          %th Stat
          %th Count
      %tbody
        %tr
          %td
            Lines Uploaded
          %td#total

        %tr
          %td
            Lines Processed
          %td#seen

        %tr
          %td
            Members Found
          %td#members

        %tr
          %td
            Unusbscribes Created
          %td#unsubscribes