.petitionform {
  textarea#petition_description {
    min-height: 200px;
  }

  .control-group {
    .controls {
      &.description_text { padding-top: 5px; }
      .btn { width: auto; }
      iframe { margin-left: 0 !important; }
    }
  }

  .refinement {
    margin-top: 10px;
  }

  input.btn.btn-primary { width: 150px; }
  .modal {
    input {
      width: 520px;
    }
    .btn {
      float: none;
      margin-left: 5px;
    }
    .btn-primary {
      float: right;
    }
  }
  .modal.bootstrap-wysihtml5-insert-link-modal, .modal.bootstrap-wysihtml5-insert-image-modal {
    input {
      width: 480px;
    }
    a.btn {
      color: #333;
    }
    a.btn.btn-primary {
      color: #fff;
    }
  }
  .checkbox input {
    width: auto;
  }
  .summary-help-text {
    margin-left: 160px;
  }
  .form-horizontal .controls span.description {
    line-height: 28px;

  }
}

/* for ff on start a petition page */
.current-font { color: #333; }

#email_subject, #facebook_title, #sharing_image, #facebook_description, #short_summary {
  display: none;
  padding: 10px 0;
}

.controls .icon-trash a {
  width: 30px;
  height: 30px;
}

#petitions_wrapper table#petitions {
  width: 100%;

  th:not(:first-child) {
    width: 65px;
  }
  th.created {
    width: 120px;
  }
}

