<h1>watchdog.net</h1>

<p><%= link_to  "Start a petition", new_petition_path %> </a></p>
<p><a href="/share-a-petition">Share a petition</a></p>

<address>watchdog.net</address>

<h2>We're probably going to need a designer.</h2>

<strong>Agreed.</strong>
