/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require jquery.ui.core
 *= require jquery.ui.theme
 *= require dataTables/jquery.dataTables.bootstrap
 *= require bootstrap-wysihtml5
 *= require facebook_share_widget/application
 *= require nudgenudge
 *= require_tree .
 */

@import "bootstrap";
@import "responsive";

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}
#content {
  min-height: 100%;
  margin: 0 auto -2em;
  padding: 0 10px;
  .page_content {
    margin: 0 auto;
    clear: both;
  }
  .secondary {
    width: 24%;
    float: left;
  }
  .primary {
    width: 75%;
    float: right;
  }
  .primary, .secondary {
    margin-bottom: 20px;
  }

  @media (min-width: 1200px) {
    max-width: 1200px;
    .secondary { width: 25%; max-width: 350px; }
    .primary { width: 71%; }
  }
  @media (min-width: 1000px) and (max-width: 1199px) {
    max-width: 1199px;
    .secondary { width: 27%; }
    .primary { width: 69%; }
  }
  @media (min-width: 768px) and (max-width: 999px) {
    max-width: 999px;
    .secondary { width: 32%; }
    .primary { width: 67%; }
  }
}

.flash_message {
  clear: both;
  .alert {
    margin: 10px 0;
  }
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 12px;
  clear: both;
  text-align: right;
  background: #ddd;
  color: #888;
  .copyright {
    padding: 4px 25px;
    font-size: 12px;
  }
}


h1 { margin-bottom: 10px; }

a:hover {
  text-decoration: none;
}

hr {
  border-top: 1px dotted #999999;
  clear: both;
  margin: 10px 0;
  width: 100%;
}

table {
  border-bottom: 1px solid #DDDDDD;
  margin: 10px 0;
}

form {
  margin-bottom: 40px;
  .control-group {
    clear: both;
  }
  label {
    float: left;
    padding: 4px 10px 0 0;
    text-align: right;
  }
  input, textarea {
    float: left;
    margin-left: 20px;
  }
  textarea {
    resize: none;
    min-height: 60px;
    overflow-y: auto;
  }
  input.btn {
    clear: both;
  }
  .help-inline {
    margin-top: 5px;
  }
}

input, textarea, .btn { border-radius: 0; }

.privacypolicy {
  margin: 10px auto 0;
  color: #888;
  font-size: 11px;
  padding: 0 20px;
}

.navigation {
  .row {
    li { float: right; }
  }
  @media (min-width: 250px) and (max-width: 767px) {
    height: 0;
    width: 100%;
    padding: 0;
    .nav {
      margin: 18px 0;
      display: none;
      .row {
        width: 100%;
      }
      li {
        border-bottom: #aaa 1px solid;
        background: #ccc;
        width: 100%;
        margin: 0;
        &:hover {
          background: #aaa;
        }
        a {
          margin-left: 10px;
          font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
          font-size: 14px;
          text-transform: none;
          color: #444;
          text-shadow: none;
          padding: 5px;
          width: 100%;
        }
      }
    }
    .mobile_nav {
      float: right;
      margin: 8px 17px;
    }
    #nav_btn {
      display: inline;
      width: 100px;
    }
  }
}
