/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require jquery.ui.core
 *= require jquery.ui.theme
 *= require dataTables/jquery.dataTables.bootstrap
 *= require bootstrap-wysihtml5
 *= require_tree .
 */

@import "bootstrap";
@import "responsive";

@font-face {
  font-family: 'LeagueGothicRegular';
  src: url('League_Gothic-webfont.eot');
  src: url('League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
    url('League_Gothic-webfont.woff') format('woff'),
    url('League_Gothic-webfont.ttf') format('truetype'),
    url('League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}



html, body {
  height:100%;
  padding: 0;
  margin: 0;
}

.body_container {
  height: 100%;
  min-height: 100%;
  margin: 0 auto -2em;
  width: 100%;
}

.flash_message .alert {
  margin: 10px 0;
}

@media (max-width: 759px) {
  .body_container > .container {
    padding: 0 5px;
  }
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  clear: both;
  text-align: right;
  background: #ddd;
  color: #888;
  .copyright {
    padding: .3em .6em;
  }
}


h1 { margin-bottom: 10px; }

a {
  &:hover {
    text-decoration: none;
  }
  &.btn:visited {
    color: white;
  }
}

hr {
  border-top: 1px dotted #999999;
  clear: both;
  margin: 10px 0;
  width: 100%;
}

table {
  border-bottom: 1px solid #DDDDDD;
  margin: 10px 0;
}

.simple_form {
  @extend .row;
}

form {
  margin-bottom: 40px;
  .control-group {
    clear: both;
  }
  label {
    @extend .span1;
    float: left;
    padding: 4px 10px 0 0;
    text-align: right;
  }
  input, textarea {
    @extend .span2;
    float: left;
    margin-left: 20px;
  }
  textarea {
    resize: none;
    height: 60px;
    overflow-y: auto;
  }
  input.btn {
    clear: both;
  }
  .help-inline {
    margin-top: 5px;
  }
}

input, textarea, .btn { border-radius: 0; }

.privacypolicy {
  @extend .span5;
  margin: 10px auto 0;
  color: #888;
  font-size: 11px;
  padding: 0 20px;
  text-align: center;
}

.navigation {
  .row {
    li { float: right; }
  }
  @media (min-width: 250px) and (max-width: 767px) {
    &.row {
      padding: 0 !important;
    }
    height: 0;
    width: 100%;
    padding: 0;
    .row {
      padding: 0;
      margin: 0;
      width: 100%;
    }
    .nav {
      margin: 18px 0;
      display: none;
      .row {
        width: 100%;
      }
      li {
        border-bottom: #aaa 1px solid;
        background: #ccc;
        width: 100%;
        margin: 0;
        &:hover {
          background: #aaa;
        }
        a {
          margin-left: 10px;
          font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
          font-size: 14px;
          text-transform: none;
          color: #444;
          text-shadow: none;
          padding: 5px;
          width: 100%;
        }
      }
    }
    .mobile_nav {
      float: right;
      margin: 8px 17px;
    }
    #nav_btn {
      display: inline;
      width: 100px;
      margin-right: 10px;
    }
  }
}
