/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
*/

@import "bootstrap";
@import "responsive";

ul.nav.user {
  float: right;
}
.admin.navbar .navbar-inner {
  @media (max-width: 1150px) {
    height: 6em;
  }
}
.navbar .nav > li > div {
  color: #999999;
  float: none;
  line-height: 19px;
  padding: 9px 10px 11px;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.navbar .navbar-inner {
  border-radius: 0;
  .container {
    margin: 0 auto;
  }
}

.navbar a.logo {
  background: url('logo_white.png');
  height: 4px;
  width: 201px;
  margin: 6px;
  float: left;
  @media (min-width: 979px) {
    width: 181px;
  }
  @media (max-width: 320px) {
    margin: 6px 0 6px -5px;
  }
}
/* dataTable */
.dataTable {
  border-top: 1px solid #eee
}
.dataTable th, .dataTable td {
  border: 1px solid #eee;
  text-align: left;
}

/* for ff on start a petition page */
.current-font { color: #333; }
