/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
*/

@import "bootstrap";
@import "responsive";

.row.navigation > div {
  @extend .span12;
  @media (min-width: 250px) and (max-width: 767px) {
    width: 100%;
  }
  margin: 0 auto;
}
ul.nav.user {
  float: right;
}
.admin.navigation.row {
  height: 100%;
}
.navigation {
  li {
    float: left;
    margin-right: 10px;
  }
  #nav_btn {
    display: none;
  }
  .nav {
    a, div {
      color: #999999;
      float: none;
      line-height: 19px;
      padding: 9px 10px 11px;
      text-decoration: none;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    }
    a:hover {
      background: none;
      color: #efefef;
    }
  }
}

.navigation .row a.logo {
  //background: url('logo_white.png');
  height: 4px;
  width: 201px;
  margin: 6px;
  float: left;
  font-family: league gothic;
  font-size: 3em;
  color: white;
  margin-top: 10px;
  @media (min-width: 979px) {
    width: 181px;
  }
  @media (max-width: 320px) {
    margin: 6px 0 6px -5px;
  }
}
/* dataTable */
.dataTable {
  border-top: 1px solid #eee
}
.dataTable th, .dataTable td {
  border: 1px solid #eee;
  text-align: left;
}

/* for ff on start a petition page */
.current-font { color: #333; }

@media (min-width: 280px) and (max-width: 481px) {
  .navbar {
    margin-bottom: 7px !important;
  }
}
