.logo {
  font-family: "LeagueGothicRegular";
  font-size: 3em;
  color: white;
  float: left;
  line-height: 40px;
  &:hover {
    color: #eee;
    text-decoration: none;
  }
}

.navbar .nav > li > a {
  cursor: pointer;
}
