/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
*/

@import "bootstrap";
@import "responsive";

.home, .home .hero-unit {
  width: 100%;
  @extend .span12;
  padding: 0;
  @media (min-width: 480px) { margin: 15% 0; }
  margin: 0;
  *margin: 15% 0;
  margin: 15% 0\9;
  background-color: transparent;
  text-align: center;
  h1 {
    @media (max-width: 480px) { font-size: 3em; }
    font-weight: normal;
    color: #666;
  }
  .btn.btn-primary.btn-large {
    font-weight: normal;
    margin: 1em 0;
    font-size: 2.3em;
  }
}

.body_container {
  min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -2em;
}
