body.users.new {
  background-image: image-url('protests.jpg');
  background-position: 0 0;
  background-repeat: repeat-y;
  background-size: 100% auto;

  .signup_login {
    background-color: rgba(150,150,150,0.4);
    color: #eee;
    border-radius: 4px;
    padding: 30px 0;

    .title {
      font-size: 72px;
      line-height: 96px;
      text-align: center;
      font-weight: 100;
      margin-bottom: 20px;
    }

    .privacypolicy {
      margin-top: 20px;
    }
  }
}
