/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
*/

@media (min-width: 481px) {
  #testui .modal { left: 45%; }
}

@media (min-width: 768px) and (max-width: 980px) {
  #testui {
    margin: 0 15px;
  }
}

.petition {
  padding: 0 40px;
  hr { display: none; }
  @media (min-width: 250px) and (max-width: 767px) {
    padding: 0 ;
  }
  .header {
    min-height: 140px;
    margin-bottom: 8px;
  }
  .description {
    margin-bottom: 10px;
    line-height: 21px;
  }
}
.progress_bar {
  float: right;
  text-align: right;
  .progress {
    margin-bottom: 5px;
    width: 300px;
    clear: right;
    .bar {
      float: left;
    }
  }
}
.social_icons {
  float: left;
  margin: 16px 0 5px;
  iframe {
    height: 30px;
    width: 275px;
  }
  &.tallerprogress {
    margin-top: 33px;
  }
}
#thanks-for-signing-message {
  fb\:like {
    margin: 4px;
    padding: 4px 10px 4px 58px;
  }
}
#sign-again {
  background: none;
  border: none;
  box-shadow: none;
  width: 300px;
  text-align: center;
  margin: 10px auto;
  font-weight: normal;
  color: #06c;
  &:hover {
    color: #08c;
  }
}
#thanksModal {
  display: none;
  width: 800px;
  height: 600px;
  border: none;
  background: none;
  box-shadow: none;
  .modal-body {
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    min-height: 219px;
    margin: 0 auto;
    overflow: visible;
    width: 400px;
  }
  a {
    clear: both;
    font-weight: normal;
  }
  .or {
    font-size: 10px;
    color: #666;
    margin: 5px; }
  fb\:like {
    margin: 5px 0 10px 50px;
  }
  .share-countdown {
    font-weight: normal;
    .countdown-text { color: red; }
  }
}
#thanksModal, #thanks-for-signing-message, #mobile_thanks {
  .btn.red_button, .btn.grey_button, .btn.grey_donate, .btn.green_donate, .btn.red_donate {
    margin: 0 auto 10px;
    padding: 0;
    height: 51px;
    width: 177px;
    border: none;
  }
  .btn.grey_button {
    background: url("dont_share_button.png");
    &:hover {
      background: url("dont_share_button_hover.png");
    }
  }
  .btn.grey_donate {
    width: 163px;
    background: url("donate_grey.png");
    &:hover {
      background: url("donate_grey_hover.png");
    }
  }
  .btn.green_donate {
    width: 163px;
    background: url("donate_green.png");
    &:hover {
      background: url("donate_green_hover.png");
    }
  }
  .btn.red_donate {
    width: 163px;
    background: url("donate_red.png");
    &:hover {
      background: url("donate_red_hover.png");
    }
  }
  .btn.red_button {
    background: url("fb_red_button.png");
    &:hover {
      background: url("fb_red_button_hover.png");
    }
  }
  .btn.red_button.tw {
    display: none;
    background: url("tw_red_button.png");
    &:hover {
      background: url("tw_red_button_hover.png");
    }
  }
}

#thanks-for-signing-message, #thanksModal, .signature-form, #ask-to-sign {
  padding: 10px;
}
.signature-form, #ask-to-sign {
  .title {
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    padding: 15px;
    line-height: 30px;
  }

  .privacypolicy {
    color: #ccc;
    width: 100%;
    padding: 10px 0;
    clear: both;
  }
  .through_site {
    width: 150px;
    border-right: 1px solid #555;
    padding: 5px 0;
    .control-group { *clear: both; *margin-right: 3px; }
    label {
      text-align: left;
      abbr { border-bottom: none; }
    }
    input {
      margin-left: 0;
      &.btn { width: 100%; text-align: center; *clear: left; *margin-top: 20px; }
    }
    .help-inline {
      padding: 5px 10px;
      margin-top: 0;
    }
    #hint {
      margin-bottom:7px;
      clear: both;
      text-align: center;
      display: none;
    }
    .control-label {
      width: 100%;
    }
  }
  .through_fb {
    float: right;
    padding: 0 9px;
    .text {
      margin: 25px 0 5px;
      text-align: center;
    }
  }  /* Until Facebook Login works, use this */
  .through_fb { display: none; }
  .through_site {
    width: auto;
    border-right: none;
    .controls, input {
      width: 100%;
      padding: 5px 0;
    }
    .btn {
      float: right;
    }
  }
}
#thanks-for-signing-message, #thanksModal, #mobile_thanks {
  font-size: 14px;
  font-weight: bold;
  text-align: center;

  .thanks {
    color: #BBBBBB;
    font-size: 21px;
    line-height: 58px;
  }
  .share {
    clear: both;
    font-size: 27px;
    line-height: 30px;
    margin: 15px 0 25px;
    &.dual {
      margin: 20px 0 15px;
    }
    &.two_friends {
      font-size: 22px;
      padding-left: .2em;
      text-align: left;
    }
  }
  .arrow {
    background: url('limearrow.png');
    margin: 15px auto 5px;
    height: 100px;
    width: 100px;
  }
  .tweet {
    margin-left: 45px;
  }
}

#thanks-for-signing-message {
  fb\:like {
    margin: 4px;
    padding: 4px 10px 4px 58px;
  }
}
.petitionform {
  margin-top: 5% auto;
  min-height: 275px;
  form {
    max-width: 830px;
  }
  input, textarea, .controls {
    @media (min-width: 1200px) { width: 770px; }
    @media (min-width: 980px) and (max-width: 1199px) { width: 620px; }
    @media (min-width: 770px) and (max-width: 979px) { width: 100%; }
    *width: 450px;
    .btn { width: auto; }
  }
  .with_icon {
    width: 90%;
  }
}
.petitionform {
  h1, h3 {
    margin: 0 0 20px 15px;
  }

  textarea#petition_description {
    min-height: 200px;
  }
  .btn {
    float: right;
    &.add_link {
      float: left;
    }
  }
  .additional_title {
    height: 3em;
  }
  .control-group {
    .controls {
      &.description_text { padding-top: 5px; }
      .btn { width: auto; }
      iframe { margin-left: 0 !important; }
    }
  }
  input.btn.btn-primary { width: 150px\9; }
  .modal {
    input {
      width: 520px;
    }
    .btn {
      float: none;
      margin-left: 5px;
    }
    .btn-primary {
      float: right;
    }
  }
  .modal.bootstrap-wysihtml5-insert-link-modal, .modal.bootstrap-wysihtml5-insert-image-modal {
    input {
      width: 480px;
    }
    a.btn {
      color: #333;
    }
    a.btn.btn-primary {
      color: #fff;
    }
  }
  .checkbox input {
    width: auto;
  }
  .summary-help-text {
    margin-left: 160px;
  }
}
.petitionlist {
  .petition {
    width: 80%;
    min-height: 80px;
    padding: 10px;
    padding-bottom: 5em;
    &:last-of-type {
      border-bottom: none;
    }
    .about_petition {
      padding-left: 20px;
      float: left;
      a.title {
        font-size: 16px;
        font-weight: bold;
        color: navy;
      }
      .description {
        word-wrap: break-word;
        color: #666;
      }
    }
    .feature {
      margin-top: 10px;
    }
    .signature {
      float: left;
      margin: 10px 0;
      .btn {
        clear: left;
        margin-top: 15px;
        width: 102px;
      }
      .btn:first-child { margin-top: 0; }
      .btn:only-child { margin-top: 7px; }
    }
  }
}

/* for ff on start a petition page */
.current-font { color: #333; }


.numbers {
  width: 300px;
  font-size: 16px;
  padding-bottom: 5px;
}
.highlight_text {
  font-weight: bold;
  display: inline;
  &.break { display: block; }
}


.tweet, #ask-to-sign , #ask-to-sign-modal {
  display: none;
}

@media (min-width: 250px) and (max-width: 767px) {
  body #content #petition_page .sidebar_test { margin-top: 0; }
  body #content #petition_page .secondary { margin-bottom: 0; }
  .sidebar_test {
    background: white;
    display: none;
    width: 300px;
    .title {
      margin: 0;
      padding: 0;
    }
    .control-label {
      margin-top: 5px !important;
    }
    .control-group, input {
      margin-bottom: 4px;
    }
    .privacypolicy {
      padding-bottom: 0;
    }
  }
}
@media (min-width: 768px) and (max-width: 30000px) {
  #sign_mobile, .mobile_signup_button {
    display: none;
  }
}
#sign_mobile {
  display: none;
  padding: 0;
  width: 300px;
  margin: 0 0 30px 0;
  .help-inline {
    font-size: 14px;
    margin-bottom: 5px;
    padding: 0px 5px;
    float: left;
  }
}
.controls .icon-trash a {
  width: 30px;
  height: 30px;
}

#email_subject, #facebook_title, #sharing_image, #facebook_description {
  display: none;
  padding: 10px 0;
}

@media (min-width: 280px) and (max-width: 767px) {
  .social_icons, .progress_bar, .mobile_signup_button {
    clear: both !important;
    margin: 5px 0 !important;
    float: left !important;
    text-align: left !important;
  }
  .container h1 { margin-left: 0; }
  .petitionform {
    width: 95%;
    margin: 0 auto;
    form { width: 100%; }
    .control-group {
      width: 99%;
      label, .controls, .control-label {
        clear: both;
        float: left;
        margin-left: 0px;
        text-align: left;
        max-width: 100% ;
      }
      iframe.wysihtml5-sandbox {
        width: 100% !important;
      }
      .controls, iframe.wysihtml5-sandbox {
        width: 100%;
        input {
          width: 100%;
          margin: 0;
        }
      }
      #petition_description-wysihtml5-toolbar {
        width: 100%;
      }
    }
    .control-group.boolean {
      .control-label, .controls, label.checkbox {
        float: left;
        clear: none;
      }
      .controls {
        width: 20px;
        label.checkbox {
          padding: 0;
          margin: 2px 0 0 0px;
          width: 20px;
        }
      }
    }
    .controls { margin-left: 0 !important; }
    .controls.toggle {
      margin: 5px auto;
    }
    .control-group.string .control-label {
      margin-bottom: 8px;
    }
    .controls.submit { margin-left: 0px; width: 100%; }
  }
}
@media (min-width: 381px) and (max-width: 789px)  {
  .petitionform {
    margin-left: 2%;
    .additional_title input.with_icon { max-width: 89%; }
    .control-group.boolean .controls label.checkbox { margin: 7px 0 0 -20px; }
  }
}
@media (max-width: 321px) {
  .petitionform {
    margin-left: 1%;
    .additional_title input.with_icon { max-width: 83%; }
  }
}

.petitionform .btn.email_subject_add_link {
  float: left;
}

.fb_share.btn {
  margin-bottom: 10px;
}

.mobile_signup_button {
  display: none \9;
  *display: none;
}

.btn.fb_popup_btn, .btn.fb_widget_btn, .btn.fb_request_btn, .btn.fb_autofill_request_btn {
  height: 39px;
  margin: 10px;
  padding: 0;
  border: 1px solid #3B5998;
  background: #3B5998;
  &:hover {
    background: #32539a;
  }
  div {
    float: left;
  }
  .fb_icon {
    background: url("fb-button-icon39.png");
    height: 39px;
    width: 39px;
  }
  .text {
    padding:  10px;
    font-size: 14px;
  }
}
#content .secondary .sidebar_test{
  background: black;
  color: white;
  *width: 250px;
  form {
    *width: 230px;
    input {
      *width: 230px;
      *clear: both;
    }
    .btn.btn-primary {
      *height: 40px;
      *padding: 5px;
      *offset: 0;
    }
  }
}
.page_content .signature-form {
  .control-label {
    width: 25%;
    *width: 100%;
    *clear: both;
    padding: 0;
    border-bottom: none;
    margin-top: 10px;
    @media (min-width: 280px) and (max-width: 1200px) { text-align: left; width: 100%;}
    float: left;
  }
  .through_site .controls {
    width: 72%;
    *width:100%;
    *clear: both;
    @media (min-width: 280px) and (max-width: 1200px) { text-align: left; width: 100%;}

  }
  .through_site .controls, .through_site .controls input {
    float: right;
    *float: left;
    @media (min-width: 280px) and (max-width: 1200px) { clear: both; width: 100%; }
  }
  .privacypolicy { margin: 10px\9; clear: both\9; }
  .control-group { *height: 4.5em; *width: 100%; }
}

#mobile_thanks {
  display: none;
  @media (min-width: 250px) and (max-width: 767px) {
    display: block;
    background: #ddd;
    width: 100%;
    margin-bottom: 25px;
  }
  .container {
    padding: 10px;
  }
  .thanks {
    padding-top: 20px;
  }
  .fb_popup_btn, .tweet {
    margin-top: 30px;
  }
}

#facebookFriendsModal {
  width: 604px;
  height: 424px;
  .modal-body {
    padding: 2px;

    i.icon-search {
      position: absolute;
      top: 15px;
      left: 250px;
      opacity: 0.4;
    }

    .close {
      margin-top: 8px;
      margin-right: 20px;
    }

    .facebook-share-widget {
      .search-text {
        float: none;
      }

      ul {
        overflow-x: hidden;
      }
    }
  }

  .modal-footer {
    .btn {
      width: 60px;
    }
  }
}

#thanksModal .share.big_margin {
  margin-top: 33px;
}
#thanksModal .share.two_friends {
  margin: 30px 0 15px;
  line-height: 40px;
  text-align: center;
}
#thanks-for-signing-message .share.two_friends {
  @media (min-width: 0) and (max-width: 800px) {
    font-size: 17px;
  }
}
#thanksModal .sandwich {
  height: 90px;
  .btn { margin: 5px; }
}
#thanksModal .share.most_share {
  margin-top: 30px;
  font-size: 26px;
  line-height: 40px;
}
.progress_image {
  margin-top: 15px;
  .share {
    font-size: 22px;
    line-height: 36px;
    margin-bottom: 20px;
  }
}
#thanks-for-signing-message .progress_image .share { font-size: 22px; }
#mobile_thanks .progress_image .share { font-size: 20px; }


#thanksModal {
  .image {
    width: 420px;
    margin: -10px 0 20px -10px;
    border-radius: 5px 5px 0 0;
  }
}
#thanks-for-signing-message, #mobile_thanks {
  .image {
    width:100%;
    max-width: 280px;
    margin: 0 auto 8px;
  }
}

.quote {
  font-size: 16px;
  font-weight: bold;
  display: inline;
  margin-bottom: 10px;
  .source {
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
    white-space: pre-line;
  }
}
.btn.inspirational.red_button {
  margin: 20px auto 15px !important;
}

#thanks-for-signing-message , #thanksModal, #mobile_thanks {
  .melanie_1,.melanie_2 {
    padding: 10px 10px 0;
    .image {
      height: 116px;
      width: 100px;
      margin: 5px -5px 0 10px;
      float: right;
    }
    p {
      font-weight: normal;
      font-size: 16px;
      margin-top: 4px;
      line-height: normal;
      text-align: left;
      padding-left: 0;
    }
    .source {
      float: right;
      clear: right;
      text-align: right;
      font-size: 12px;
      font-weight: normal;
      line-height: 14px;
      margin: 6px 0 0 3px;
    }
    .btn.red_button { margin: 11px auto 0 !important; }
  }
}
#mobile_thanks {
  .melanie_1, .melanie_2 {
    .btn.red_button { margin-bottom: 10px !important; }
  }
}
#thanks-for-signing-message .melanie_2, #thanksModal .melanie_2 {
  .source { margin-top: 10px; }
}

#image {
  float: right;
  margin-left: 10px;
}