#thanksModal, #thanks-for-signing-message, #mobile_thanks {

  .btn.like_red_tall_no_f, .btn.share_red_tall_no_f {
    height: 63px;
    width: 147px;
    &.like_red_tall_no_f {
      background: url("like_red_tall_no_f.png");
      &:hover {
        background: url("like_red_tall_no_f_hover.png");
      }
    }
    &.share_red_tall_no_f {
      background: url("share_red_tall_no_f.png");
      &:hover {
        background: url("share_red_tall_no_f_hover.png");
      }
    }
  }

  .btn.tell_your_friends_red_tall_no_f, .btn.spread_the_word_red_tall_no_f {
    height: 63px;
    width: 200px;
    &.tell_your_friends_red_tall_no_f {
      background: url("tell_your_friends_red_tall_no_f.png");
      &:hover {
        background: url("tell_your_friends_red_tall_no_f_hover.png");
      }
    }
    &.spread_the_word_red_tall_no_f {
      background: url("spread_the_word_red_tall_no_f.png");
      &:hover {
        background: url("spread_the_word_red_tall_no_f_hover.png");
      }
    }
  }

}
