.signature-form, #thanks-for-signing-message {
  background: black;
  color: white;
  padding: 1px 10px;
  * {
    width: 100%;
  }
}
.signature-form {
  h3 {
    text-align: center;
  }
  .btn {
    width: 100%;
  }
}
#thanks-for-signing-message {
  font-size: 1.3em;
  padding: 0;
  text-align: center;
  * {
    padding: 10px;
  }
  .message {
    background: #666;
  }
}

.petition_body img {
  width: 300px;
  float: right;
  margin-left: 20px;
}
.privacy_policy {
  margin-top: 10px;
  font-size: .8em;
  line-height: 1.2em;
  color: #888;
}
.fb_like {
  margin: 10px 0;
  padding: 10px 8px 5px;
  background: #f7f7f7;
  border: #ddd 1px solid;
}
#thanksModal {
  text-align: center;
  font-size: 1.4em;
  line-height: 1.5em;
  .modal-body {
    padding: 20px 0 15px;
  }
  .close {
    margin: -11px 13px 0 0;
  }
  .progress_image {
    margin-bottom: 10px;
    clear: both;
  }
}
#thanksModal, #thanks-for-signing-message {
  img {
    margin-bottom: 5px;
  }
  .message {
    padding: 10px;
    margin: 15px 0;
    background: #666;
    color: white;
  }
  .button {
    height: 63px;
    width: 147px;
    margin: 0 auto;
    background: url("like_red_tall_no_f.png");
    &:hover {
      background: url("like_red_tall_no_f_hover.png");
    }
  }
  .fb_toggle {
    font-size: 12px;
    cursor: pointer;
    &:hover {
      color: red;
    }
  }
}
#sign-again {
  white-space: normal;
  background: none;
  border: none;
  box-shadow: none;
  width: 100%;
  margin: 10px auto;
  color: #06c;
  font-size: 12px;
}

@media (min-width: 1200px) {
  .petition_body img {
    width: 300px;
    float: right;
    margin-left: 30px;
  }
}
