/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
*/

@import "bootstrap";
@import "responsive";


@media (min-width: 481px) {
  #testui .modal { left: 45%; }
}

@media (min-width: 768px) and (max-width: 980px) {
  #testui {
    margin: 0 15px;
  }
}

.progress_bar {
  float: right;
  text-align: right;
  .progress {
    margin-bottom: 5px;
    width: 300px;
    clear: right;
    .bar {
      float: left;
    }
  }
}
.social_icons {
  float: left;
  margin: 16px 0 5px;
  iframe {
    height: 30px;
    width: 275px;
  }
  &.tallerprogress {
    margin-top: 33px;
  }
}
.center6{
  @extend .span6;
  margin: 0 auto;
  min-height: 210px;
}
#thanks-for-signing-message {
  fb\:like {
    margin: 4px;
    padding: 4px 10px 4px 58px;
  }
}
#sign-again {
  width: 220px;
  text-align: center;
  padding: 10px;
}
#thanksModal {
  display: none;
  width: 800px;
  height: 600px;
  background: none;
  border: none;
  box-shadow: none;
  .modal-body {
    background-clip: padding-box;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    width: 300px;
    min-height: 260px;
    margin: 0 auto;
    overflow: visible;
  }
  a {
    clear: both;
    font-weight: normal;
  }
  .or {
    font-size: 10px;
    color: #666;
    margin: 5px; }
  fb\:like {
    margin: 5px 0 10px 50px;
  }
}


#thanks-for-signing-message, #thanksModal, .signature-form, #ask-to-sign {
  padding: 10px;
}
.signature-form .btn-primary, .mobile_signup_button .btn-primary { @extend .btn-danger; }
.signature-form, #ask-to-sign {
  .title {
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    color: #333;
    padding: 15px;
    line-height: 30px;
  }

  .privacypolicy {
    width: 100%;
    padding: 0 0 10px 0;
    clear: both;
  }
  .through_site {
    width: 150px;
    border-right: 1px solid #555;
    padding: 5px 0;
    float: left;
    margin-bottom: 10px;
    .control-group { *clear: both; *margin-right: 3px; }
    input {
      @extend .span2;
      margin-left: 0;
      &.btn { width: 100%; text-align: center; *clear: left; }
    }
    .help-inline {
      @extend .alert;
      @extend .alert-error;
      padding: 5px 10px;
      margin-top: 0;
    }
    #hint {
      margin-bottom:7px;
      clear: both;
      text-align: center;
      display: none;
    }
    .control-label {
      width: 100%;
    }
  }
  .through_fb {
    float: right;
    @extend .span2;
    padding: 0 9px;
    .text {
      margin: 25px 0 5px;
      text-align: center;
    }
  }  /* Until Facebook Login works, use this */
  .through_fb { display: none; }
  .through_site {
    width: auto;
    border-right: none;
    .controls, input {
      width: 100%;
      padding: 5px 0;
    }
    .btn {
      float: right;
    }
  }
}
#thanks-for-signing-message, #thanksModal {
  width: 220px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  .thanks {
    font-size: 27px;
    line-height: 30px;
    margin: 15px 0 25px;
  }
  .arrow {
    background: url('bluearrow.png');
    margin: 15px auto 5px;
    height: 100px;
    width: 100px;
  }
  .jumping_arrow {
    margin: auto;
    margin-top: 25px;
    height: 130px;
    width: 100px;
  }
  .tweet {
    margin-left: 45px;
  }
}
#thanks-for-signing-message {
  @extend .rightcolwell;
  fb\:like {
    margin: 4px;
    padding: 4px 10px 4px 58px;
  }
}
#thanksModal {
  display: none;
  width: 800px;
  height: 600px;
  background: none;
  border: none;
  box-shadow: none;
  .modal-body {
    background-clip: padding-box;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    width: 300px;
    min-height: 260px;
    margin: 0 auto;
    overflow: visible;
  }
  a {
    clear: both;
    font-weight: normal;
  }
  .or {
    font-size: 10px;
    color: #666;
    margin: 5px; }
  fb\:like {
    margin: 5px 0 10px 50px;
  }
}
.petitionform {
  margin-top: 5% auto;
  min-height: 275px;
  @extend .span10;
  form {
    max-width: 830px;
  }
  label {
    @extend .span1;
  }
  input, textarea, .controls {
    @media (min-width: 1200px) { width: 770px; }
    @media (min-width: 980px) and (max-width: 1199px) { width: 620px; }
    @media (min-width: 770px) and (max-width: 979px) { width: 100%; }
    *width: 450px;
    margin-left: 0;
  }
  .control-group {
    @extend .span8;
  }
  .with_icon {
    width: 90%;
  }
}
.petitionform {
  h1, h3 {
    margin: 0 0 20px 15px;
  }

  textarea {
    min-height: 200px;
  }
  .btn {
    @extend .span2;
    float: right;
    &.add_link {
      float: left;
    }
  }
  .additional_title {
    height: 3em;
  }
  .control-group {
    .controls {
      &.description_text { padding-top: 5px; }
      .btn { width: auto; }
      iframe { margin-left: 0 !important; }
    }
  }
  input.btn.btn-primary { width: 150px\9; }
  .modal {
    input {
      width: 520px;
    }
    .btn {
      float: none;
      margin-left: 5px;
    }
    .btn-primary {
      float: right;
    }
  }
  .modal.bootstrap-wysihtml5-insert-link-modal, .modal.bootstrap-wysihtml5-insert-image-modal {
    input {
      width: 480px;
    }
    a.btn {
      color: #333;
    }
    a.btn.btn-primary {
      color: #fff;
    }
  }
  .checkbox input {
    width: auto;
  }
}
.petitionlist {
  .petition {
    width: 80%;
    min-height: 80px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    &:last-of-type {
      border-bottom: none;
    }
    .about_petition {
      @extend .span6;
      padding-left: 20px;
      float: left;
      a.title {
        font-size: 16px;
        font-weight: bold;
        color: navy;
      }
      .description {
        word-wrap: break-word;
        color: #666;
      }
    }
    .feature {
      margin-top: 10px;
    }
    .signature {
      @extend .span2;
      float: left;
      margin: 10px 0;
      .btn {
        clear: left;
        margin-top: 15px;
        width: 102px;
      }
      .btn:first-child { margin-top: 0; }
      .btn:only-child { margin-top: 7px; }
    }
  }
}

/* for ff on start a petition page */
.current-font { color: #333; }


.numbers {
  font-size: 16px;
  padding-bottom: 5px;
}
.highlight_text {
  font-weight: bold;
  display: inline;
  &.break { display: block; }
}


.tweet, #ask-to-sign , #ask-to-sign-modal {
  display: none;
}

@media (min-width: 250px) and (max-width: 767px) {
  .sidebar_test.secondary {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 30000px) {
  #sign_mobile, .mobile_signup_button {
    display: none;
  }
}
.modal#sign_mobile {
  display: none;
  padding: 0;
  width: 300px;
  margin-left: 0;
}
.controls .icon-trash a {
  width: 30px;
  height: 30px;
}

#email_subject, #facebook_title, #sharing_image {
  display: none;
  padding: 10px 0;
}

@media (min-width: 280px) and (max-width: 767px) {
  .social_icons, .progress_bar, .mobile_signup_button {
    clear: both !important;
    margin: 5px 0 !important;
    float: left !important;
    text-align: left !important;
  }
  .container h1 { margin-left: 0; }
  .petitionform {
    width: 95%;
    margin: 0 auto;
    form { width: 100%; }
    .control-group {
      width: 99%;
      label, .controls, .control-label {
        clear: both;
        float: left;
        margin-left: 0px;
        text-align: left;
        max-width: 100% ;
      }
      iframe.wysihtml5-sandbox {
        width: 100% !important;
      }
      .controls, iframe.wysihtml5-sandbox {
        width: 100%;
        input {
          width: 100%;
          margin: 0;
        }
      }
      #petition_description-wysihtml5-toolbar {
        width: 100%;
      }
    }
    .control-group.boolean {
      .control-label, .controls, label.checkbox {
        float: left;
        clear: none;
      }
      .controls {
        width: 20px;
        label.checkbox {
          padding: 0;
          margin: 2px 0 0 0px;
          width: 20px;
        }
      }
    }
    .controls { margin-left: 0 !important; }
    .controls.toggle {
      margin: 5px auto;
    }
    .control-group.string .control-label {
      margin-bottom: 8px;
    }
    .controls.submit { margin-left: 0px; width: 100%; }
  }
}
@media (min-width: 381px) and (max-width: 789px)  {
  .petitionform {
    margin-left: 2%;
    .additional_title input.with_icon { max-width: 89%; }
    .control-group.boolean .controls label.checkbox { margin: 7px 0 0 -20px; }
  }
}
@media (max-width: 321px) {
  .petitionform {
    margin-left: 1%;
    .additional_title input.with_icon { max-width: 83%; }
  }
}

.petitionform .btn.email_subject_add_link {
  float: left;
}

.fb_share.btn {
  margin-bottom: 10px;
}

.mobile_signup_button {
  display: none \9;
  *display: none;
}

.btn.fb_popup_btn {
  height: 39px;
  margin: 10px;
  padding: 0;
  border: 1px solid #3B5998 !important;
  background: #3B5998;
  &:hover {
    background: #32539a;
  }
  div {
    float: left;
  }
  .fb_icon {
    background: url("fb-button-icon39.png");
    height: 39px;
    width: 39px;
  }
  .text {
    padding:  10px;
    font-size: 14px;
  }
}
#content .sidebar_test.secondary {
  *width: 250px;
  form {
    *width: 230px;
    input {
      *width: 230px;
      *clear: both;
    }
    .btn.btn-primary {
      *height: 40px;
      *padding: 5px;
      *offset: 0;
    }
  }
}
.page_content .signature-form {
  .control-label {
    width: 25%;
    padding: 0;
    border-bottom: none;
    margin-top: 10px;
    @media (min-width: 280px) and (max-width: 1200px) { text-align: left; width: 100%;}
    float: left;
  }
  .through_site .controls {
    width: 72%;
  }
  .through_site .controls, .through_site .controls input {
    float: right;
    @media (min-width: 280px) and (max-width: 1200px) { clear: both; width: 100%; }
  }
  .privacypolicy { margin: 10px\9; clear: both\9; }
  .btn { margin-right: -10px\9; }
  .control-group { *height: 3em; }
}
