#content {
  .secondary {
    width: 24%;
    float: left;
  }
  .primary {
    width: 75%;
    float: right;
  }
  @media (min-width: 1200px) {
    max-width: 1200px;
    .secondary { width: 25%; max-width: 350px; }
    .primary { width: 72%; }
  }
  @media (min-width: 1000px) and (max-width: 1199px) {
    max-width: 1199px;
    .secondary { width: 27%; }
    .primary { width: 69%; }
  }
  @media (min-width: 768px) and (max-width: 999px) {
    max-width: 999px;
    .secondary { width: 32%; }
  }
  @media (min-width: 911px) and (max-width: 999px) {
    .primary { width: 67%; }
  }
  @media (min-width: 861px) and (max-width: 910px) {
    .primary { width: 65%; }
  }
  @media (min-width: 811px) and (max-width: 860px) {
    .primary { width: 63%; }
  }
  @media (min-width: 768px) and (max-width: 810px) {
    .primary { width: 60%; }
  }
  @media (max-width: 768px) {
    #petition_page {
      .secondary { display: none; width: 100%; }
      .primary { width: 100%; }
    }
  }
}
