@import 'compass';

.big_black_box {
  background: black;
  padding: 20px 35px;
  margin-bottom: 80px;
  color: lightblue;
  text-align: center;

  .big_text {
    font-size: 80px;
    line-height: 85px;
  }
  .message {
    margin-top: 10px;
    font-size: 45px;
    line-height: 50px;
    clear: both;
  }
  .button {
    height: 82px;
    width: 563px;
    margin: 20px auto 30px;
  }
  .fb {
    @extend .button;
    background: url('fb_large.png');
    &:hover {
      background: url('fb_large_hover.png');
    }
  }
  .tw a {
    @extend .button;
    display: none;
    background: url('tw_large.png');
    &:hover {
      background: url('tw_large_hover.png');
    }
  }
}

.thanks_with_share_sidebar {
  margin: 20px auto 80px;
  width: 1100px;
  .thanks {
    float: left;
    display: block;
    height: 100%;
    width: 653px;
    background: #f1f1f1;
    margin-bottom: 80px;
    padding: 30px;
    h1 { font-size: 79px; line-height: 110px; }
    h2 { font-size: 48px; color: #666; line-height: 50px; }
    h3 { font-size: 30px; color: #888; line-height: 35px; margin-top: 22px; }
  }
  .share_box {
    background: url('fb_sidebar_background.png') bottom left no-repeat #f1f4fb;
    float: left;
    height: 100%;
    width: 353px;
    margin: 40px 0 0 10px;
    .title {
      font-size: 31px;
      line-height: 50px;
      color: black;
      font-weight: bold;
      text-align: center;
      padding: 155px 40px 135px;
      padding: 30px 40px;
    }
    .button {
      > div { float: left; }
      margin: 35px 39px;
      height: 50px;
      color: white;
      .icon {
        height: 50px;
        width: 50px;
        margin: 0;
      }
      .text {
        font-size: 36px;
        font-weight: bold;
        padding: 14px 60px;
      }
    }
    .fb{
      @extend .button;
      background: #5b75aa;
      .fb.icon {
        background: url('fb_icon.png');
      }
      &:hover {
        background: #b8c0da;
        .fb.icon {
          background: url('fb_icon_hover.png');
        }
      }

    }
    .tw a {
      @extend .button;
      display: none;
      background: #2eb8e2;
      .tw.icon {
        background: url('tw_icon.png');
      }
      &:hover {
        background: #80ccec;
        .tw.icon {
          background: url('tw_icon_hover.png');
        }
      }

    }
  }
  .share_box.tw {
    background: url('tw_sidebar_background.png');
    .title { color: #0782b1; }
  }
  @media (min-width: 1000px) and (max-width: 1200px) {
    .thanks { width: 600px; }
  }
  @media (min-width: 300px) and (max-width: 1000px) {
    .thanks {
      width: 453px;
      padding: 10px;
      h1 { font-size: 45px; line-height: 75px; }
      h2 { font-size: 35px; line-height: 40px; }
      h3 { font-size: 22px; line-height: 25px; }
    }
    .share_box {
      width: 273px;
      .title { font-size: 26px; line-height: 30px; text-aling: center; padding: 25px 20px; }
      .fb .text, .tw .text { font-size: 28px; padding: 16px 30px; }
    }
  }
}


.img_plus_fb_ribbon {
  background: url('fb_hero.png') center bottom #eef1f7 no-repeat;
  &.tw {
    background: url('tw_hero.png') center bottom #effbff no-repeat;
  }
  width: 750px;
  margin: 20px auto 80px;
  @media (min-width: 300px) and (max-width: 790px) {
    width: 700px;
    margin: 15px auto 30px;
  }
  .thanks {
    padding: 30px 60px;
    h1 { font-size: 76px; line-height: 86px; color: #333; }
    h2 { font-size: 48px; color: #666; line-height: 50px; margin-top: 10px; }
    h3 { font-size: 30px; color: #888; line-height: 35px; margin-top: 22px; width: 500px;
      @media (min-width: 300px) and (max-width: 790px) { width: 440px; }
    }
  }
  .button {
    float: right;
    height: 70px;
    width: 211px;
    margin: -96px -24px 0 0;
  }
  .fb {
    @extend .button;
    background: url('fb_ribbon.png');
    &:hover {
      background: url('fb_ribbon_hover.png');
    }
  }
  .tw a {
    @extend .button;
    display: none;
    background: url('tw_ribbon.png');
    &:hover {
      background: url('tw_ribbon_hover.png');
    }
  }
}

.box_with_centered_button {
  width: 850px;
  margin: 20px auto 80px;
  .thanks {
    padding: 20px 30px;
    h1 { font-size: 90px; line-height: 95px; color: #444; }
    h2 { font-size: 40px; color: #666; line-height: 42px; margin-top: 10px; }
    h3 { font-size: 25px; color: #888; line-height: 30px; margin-top: 22px; }
  }
  .button {
    height: 70px;
    width: 250px;
    margin: 0 auto 25px;
  }
  .fb {
    @extend .button;
    background: url('fb_blue_button.png');
    &:hover {
      background: url('fb_blue_button_hover.png');
    }
  }
  .tw a {
    display: none;
    @extend .button;
    background: url('tw_blue_button.png');
    &:hover {
      background: url('tw_blue_button_hover.png');
    }
  }
  @media (min-width: 300px) and (max-width: 790px) {
    width: 700px;
  }
}

