$primary_color: #ff4500;
$primary_color: blue;
$secondary_color: lighten($primary_color, 20%);
$tertiary_color: lighten($primary_color, 45%);
$quaternary_color: lighten($primary_color, 48%);

/* tests for petition show UI */

@media (min-width: 250px) and (max-width: 767px) {
  #content #petition_page {
    .sidebar_test {
      display: none;
      margin-top: 30px;
    }
    .petition_test {
      width: 100%;
    }
  }
}
