@import "test";

@import url(//fonts.googleapis.com/css?family=Kameron:400);


body.block {
  h1, a.logo, .signature-form .title, #sign_petition {
    font-family: 'kameron';
    font-weight: normal;
  }
  h1 , .signature-form .title, #sign_petition {
    letter-spacing: 1px;
  }
  background-color: $quaternary_color;
  #content {
    width: 1000px;
    .primary, .secondary {
      margin-bottom: 0;
    }
    .primary {
      width: 700px;
    }
    .secondary {
      width: 300px;
      @media (min-width: 250px) and (max-width: 767px) {
        width: 200px;
      }
    }
    @media (min-width: 250px) and (max-width: 767px) {
      padding: 0;
      width: 100%;
      .navigation .mobile_nav {
        margin: 5px;
        width: 50px;
      }
    }
  }
  .signup_login_form { background: white; padding: 20px 35px; }
  .petitionform { background: white; padding: 15px; }
  a.logo {
    font-size: 37px;
    @media (min-width: 250px) and (max-width: 767px) {
      font-size: 20px;
      float: left;
      width: 100px;
      margin-left: 10px;
    }
  }
  .navigation li { float: right; margin-right: 0; }
  .navigation {
    a.logo, .navigation .primary a {
      text-transform: uppercase;
    }
    a.logo {
      color: $primary_color;
    }
    .primary a {
      color: $secondary_color;
      &:hover {
        color: $primary_color;
      }
    }
  }
  #petition_page {
    padding: 0;
    .petition {
      padding: 0;
    }
    .header {
      margin-bottom: 0;
      h1 {
        padding: 25px 40px;
        background: $primary_color;
        color: white;
        margin: 0;
        @media (min-width: 250px) and (max-width: 767px) {
          font-size: 20px;
          padding: 10px;
          line-height: 24px;
        }
      }
      .social {
        background: $tertiary_color;
        padding: 10px 40px;
        height: 62px;
        @media (min-width: 250px) and (max-width: 767px) {
          height: 155px;
          padding: 5px 10px 10px;
          .social_icons {
            padding-top: 8px;
          }
        }
      }
    }
    .primary {
      .content {
        background: white;
        padding: 10px 40px;
        @media (min-width: 250px) and (max-width: 767px) {
          padding: 10px;
        }
      }
    }
    .secondary {
      margin-top: 40px;
      background: #c11b17;
      .through_site {
        padding: 0 10px;
        .privacypolicy { color: #efefef; }
        .control-label { width: 28%; }
        .controls {
          width: 66%;
          @media (min-width: 280px) and (max-width: 1200px) { text-align: left; width: 100%;}
        }
      }

    }
  }
}


