%h1 Listing users

%table.table.table-striped.table-condensed
  %tr
    %th Username
    %th Signed up on
    - if current_user.is_super_user?
      %th Admin
      %th Super User
    %th
    %th

  - @users.each do |user|
    %tr
      %td= user.email
      %td= user.created_at
      - if current_user.is_super_user?
        %td
          - if user.is_admin
            %i.icon-ok
        %td
          - if user.is_super_user
            %i.icon-ok
      %td= link_to 'Edit', edit_admin_user_path(user)
      %td= link_to 'Destroy', admin_user_path(user), confirm: 'Are you sure?', method: :delete
