= render 'header'

%h2
  Browser usage (for signatures) per day

.plot-container#signatures-by-browser{style: "width:800px;height:600px", data: { "query-url" => data_daily_browser_usage_admin_stats_path, "mode" => "time" } }
%h2
  Browser usage summary

- @browser_stat.each do |browser, percent|
  %br
    %b
      = browser
    = " #{percent} %"